
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Public+Sans&family=Schibsted+Grotesk&family=Sura&display=swap');



body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}




.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #253439;
  color: #fff;
  padding: 30px;
  font-family: 'Lilita One', cursive;
font-family: 'Public Sans', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
font-family: 'Sura', serif;

}


.nav-links {
  display: flex;
  
}

.my-link {
  color: #fff;
  text-decoration: none;
  margin-left: 15px; 
}

.my-link:hover {
  text-decoration: underline;
}


.content {
    flex-grow: 1; 
    padding: 20px;
}

.content p{

    padding: 15px;
    margin-bottom: 1vh;
    font-family: 'Lilita One', cursive;
font-family: 'Public Sans', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
font-family: 'Sura', serif;
}

.content h1{

    padding: 15px;
    font-family: 'Lilita One', cursive;
font-family: 'Public Sans', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
font-family: 'Sura', serif;
}

.content img{

    padding: 10px;
}

.more{

    text-decoration: none;
    font-family: 'Lilita One', cursive;
font-family: 'Public Sans', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
font-family: 'Sura', serif;
    border: 1px solid black;
    padding: 10px;
    background-color: #253439;
    color: white;
}

.More{
    margin-top: 15px;
    padding: 15px;

    
}

.More:hover{

    text-decoration: underline;
    color: white;    
}

.bargraph{  

    padding: 15px;
    font-family: 'Lilita One', cursive;
font-family: 'Public Sans', sans-serif;
font-family: 'Schibsted Grotesk', sans-serif;
font-family: 'Sura', serif;
}


.footer {
    background-color: #253439;
    color: #fff;
    padding: 20px;
  }
